{% load static %}
<footer class="section-footer border-top"><!-- footer -->
	<div class="container">
		<section class="footer-bottom row flex">
			<div class="col-md-3 pl-0 -mr-12">
				{% for ayarlar in ayarlar %}
				<span class="ml-1">{{ ayarlar.copy }}</span>
			</div>
				<span class="ml-2 mr-1"><svg viewBox="0 0 24 24" width="16" height="20" stroke="black" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline fill-black"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg><a href="https://wa.me/905451973471" target="_blank">
					{{ ayarlar.telefon }}</a></span>
					<span class="ml-1"><svg viewBox="0 0 24 24" width="22" height="18" stroke="black" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline fill-black"><polygon points="3 11 22 2 13 21 11 13 3 11"></polygon></svg>
					<a href="https://yandex.com.tr/harita/org/engin_elektronik_tv_hastanesi/233111245126/?ll=28.854444%2C41.060329&z=16" target="_blank">
					{{ayarlar.adres}}</a></span>
					<span class="ml-2"><svg viewBox="0 0 24 24" width="22" height="22" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline fill-zinc-700 -mt-1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
						{{ ayarlar.saat }}</span>
					<span class="ml-2"><svg viewBox="0 0 24 24" width="22" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline -mt-1"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
						<a href="https://www.letgo.com/profile/112011910" target="_blank"> Letgo</a>
					<svg viewBox="0 0 24 24" width="22" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline -mt-1"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
					<a href="https://www.facebook.com/profile.php?id=100094589945514" target="_blank">Facebook</a>
				</span>
				{% endfor %}
		</section>
	</div>
</footer><!-- footer// -->

<!-- link paylaş -->
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6384c64804255c001315133b&product=inline-share-buttons" async></script>

<!-- thumbnail resim geçiş -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" async></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

<!-- yukarı ok -->
<script>
    $(window).scroll(function() {
        if ($(this).scrollTop() > 600) {
            $(".bas").fadeIn();
        } else {
            $(".bas").fadeOut();
        }
    })

    $(".bas").click(function() {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    })
</script>

<!-- toogle hamburger menu aç-kapa yapma ve gösterme -->
<script>
	const btn = document.querySelector("button.mobile-menu-button");
	const menu = document.querySelector(".mobile-menu");

	btn.addEventListener("click", () => {
	menu.classList.toggle("hidden");
	});
</script>

<!-- search'de placeholder'a tıklayınca yazı gözükmesin başka yere tıklayınca yazı gelsin -->
<script>
  const input = document.getElementById('anahtar');
  const placeholderText = input.placeholder;

  input.addEventListener('focus', function() {
    this.placeholder = '';
  });

  input.addEventListener('blur', function() {
    this.placeholder = placeholderText;
  });
</script>

<!-- boş değer girilmişse ara butonuna basılmasın -->
<script>
  function validateSearch(event) {
    const keywordInput = document.getElementById('anahtar');
    const keyword = keywordInput.value.trim();

    if (keyword === '') {
      event.preventDefault();
      return false;
    }

    return true;
  }
</script>

<!-- select'de seçim seçilmemişse filtreyi ara butonuna basılmasın -->
<script>
  function checkSelect(event) {
    const select1Input = document.getElementById('select1');
    const select2Input = document.getElementById('select2');
    const select3Input = document.getElementById('select3');

    const select1Value = select1Input.value;
    const select2Value = select2Input.value;
    const select3Value = select3Input.value;

    if (select1Value === '' && select2Value === '' && select3Value === '') {
      event.preventDefault();
      return false;
    }

    return true;
  }
</script>

<!-- // Carousel'in otomatik olarak yeniden başlatılmasını önlemek için JavaScript kodu -->
<script>
	$('.carousel').carousel({
    interval: false
  });
</script>




</body>
</html>
