{% extends "base.html" %}
{% load static %}
{% block title %}{{ single_product.product_name }} - Engin Elektronik{% endblock %}
{% block description %}{{ single_product.product_name }} - {{ single_product.description | safe }}  {% endblock %}
{% block keywords %}{{ single_product.tags }}{% endblock %}
{% block content %}
<section class="section-content padding-y bg-zinc-50"> <!-- section1 -->
<div class="container"> <!-- container -->
	<ul class="breadcrumb" style="margin-top: -20px; margin-bottom: 5px;"> <!-- breadcrumb -->
		<li><a class="text-normal" href="{% url 'home' %}">Anasayfa&nbsp;</a></li>
		<svg viewBox="0 0 24 24" width="22" height="22" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="9 18 15 12 9 6"></polyline></svg>&nbsp;
		<li><a class="text-normal" href="{{ categories.get_url }}">{{ categories.category_name }}&nbsp;</a></li>
		<svg viewBox="0 0 24 24" width="22" height="22" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="9 18 15 12 9 6"></polyline></svg>&nbsp;
		<li class="text-base">{{ single_product.product_name }}</li>
	</ul>

	<span data-popover-target="popover-default" class="hover:bg-gray-100 cursor-alias">Satışa Sunulduğu Tarih:
	<span class="bg-blue-50 hover:bg-blue-100 text-blue-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
	<svg viewBox="0 0 24 24" width="14" height="14" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 -ml-1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>&nbsp;{{ single_product.created_date }}</span></span>

<div data-popover id="popover-default" role="tooltip" class="absolute z-10 invisible inline-block w-52 text-sm  transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
	<span data-popover-target="popover-default">Güncellendiği Tarih:</span>
	<span class="bg-blue-50 text-blue-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
	<svg viewBox="0 0 24 24" width="14" height="14" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 -ml-1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>&nbsp;{{ single_product.modified_date }}</span>

  </div>
<!-- breadcrumb // -->

{% if single_product.stock <= 0 %}
<div class="card mt-1 border-8 border-white rounded-lg">
<div class="row no-gutters">

		<aside class="col-md-5"> <!-- gri resim -->
<article class="gallery-wrap">
	<div class="img-big-wrap mainImage">
<center>
	<img src="{{ single_product.webp.url }}" alt="" class="filter grayscale hover:grayscale-0 transition-all duration-300" style="height:357px; width:auto;" draggable="false" oncontextmenu="return false"> </img>
</center>
	</div>
</article>
		</aside> <!-- gri resim // -->

<main class="col-md-7 border-left">
<div class="row"> <!-- info -->
	<div class="btn-group dropright">
	  <button type="button" class="btn bg-gray-100 rounded ml-3 hover:bg-slate-50 mt-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <i class="fa-solid fa-circle-info" style="margin-top:7px; margin-left:-5px;"></i> Bilgi için tıklayın</button>
		<div class="dropdown-menu w-96 border-slate-100 hover:bg-slate-50 break-all md:break-all" style="margin-left: 5px">Ürün satıldı.</div>
	</div>
</div> <!-- info // -->

<article class="content-body" style="margin-left: -20px; margin-bottom: -15px;">
<h2 class="flex text-3xl font-bold mb-1">{{ single_product.product_name }}</h2>
<div class="mb-3">
	<b>Marka:</b>
	{% if "." not in single_product.brand %}
<div class="bg-gray-100 inline-flex -ml-0.5 items-center px-2.5 rounded mr-2 border dark:bg-gray-700">
<a href="{% url 'filter_results' %}?brand={{ single_product.brand }}" class="">{{ single_product.brand }}</a>
</div>
	{% else %}
	-
	{% endif %}
<br>
 <b>Durum:&nbsp;</b>{{ single_product.durum }}<br>
 <b>Stok:&nbsp;</b>Yok
 <br>
 	{% if single_product.ekran %}
 <b>Ekran:&nbsp;</b>{{ single_product.ekran }}
 {% endif %}
</div>
<b class="text-base text-md">Bu ürün hakkında:</b>
<span class="text-base">{{ single_product.description | safe }} </span>
<br>
<hr class="mb-2">
<span class="bg-gray-100 text-gray-800 inline-flex items-center px-0.5  rounded mr-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
<span class="price h4 rounded text-gray-500 mt-2">{{single_product.price}} ₺</span></span><br><br>
	<h5 class="text-xl text-gray-500"><b>Bu ürün satıldı, satıştan kaldırıldı.</b></h5>
Satıştan Kaldırıldığı Tarih:
<span class="bg-gray-100 text-gray-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
<svg viewBox="0 0 24 24" width="14" height="14" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 -ml-1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
&nbsp;{{ single_product.sontarih }}</span>

	{% else %}
	<div class="card mt-1 border-8 border-white rounded-lg">
		<div class="row no-gutters">
			<aside class="col-md-5"> <!-- gallery -->
				<center>
					<div class="relative rounded-lg">
					<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-inner">
					    <div class="carousel-item active">
								<!-- indir -->
								<span class="absolute top-0 right-0 z-30 items-center flex -mt-24 justify-center h-60 px-4 cursor-pointer group focus:outline-none">
								    <a href="{{ single_product.images.url }}" download>
								        <span class="-mr-4 mt-2 inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60" title="görseli indir">
								            <svg viewBox="0 0 24 24" width="24" height="20" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
								                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
								                <polyline points="7 10 12 15 17 10"></polyline>
								                <line x1="12" y1="15" x2="12" y2="3"></line>
								            </svg>
								        </span>
								    </a>
								</span>
								<!-- // indir -->
								<a href="{{single_product.images.url}}" target="_blank" aria-label="">
								<img src="{{single_product.webp.url}}" class="rounded" alt="" style="height:357px; width:auto;" draggable="false" oncontextmenu="return false">
								</img>
								</a>
					    </div>
							{% if single_product.webp2 and single_product.images2 %}
							<div class="carousel-item">
								<span class="absolute top-0 right-0 z-30 items-center flex -mt-24 justify-center h-60 px-4 cursor-pointer group focus:outline-none">
										<a href="{{single_product.images2.url}}" download>
												<span class="-mr-4 mt-2 inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60" title="görseli indir">
														<svg viewBox="0 0 24 24" width="24" height="20" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
																<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
																<polyline points="7 10 12 15 17 10"></polyline>
																<line x1="12" y1="15" x2="12" y2="3"></line>
														</svg>
												</span>
										</a>
								</span>
								<a href="{{single_product.images2.url}}" target="_blank" aria-label="">
								<img src="{{single_product.webp2.url}}" class="rounded" alt="" style="height:357px; width:auto;" draggable="false" oncontextmenu="return false">
								</img>
								</a>
							</div>
							{% endif %}
							{% if single_product.webp3 and single_product.images3 %}
							<div class="carousel-item">
								<span class="absolute top-0 right-0 z-30 items-center flex -mt-24 justify-center h-60 px-4 cursor-pointer group focus:outline-none">
										<a href="{{single_product.images3.url}}" download>
												<span class="-mr-4 mt-2 inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60" title="görseli indir">
														<svg viewBox="0 0 24 24" width="24" height="20" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
																<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
																<polyline points="7 10 12 15 17 10"></polyline>
																<line x1="12" y1="15" x2="12" y2="3"></line>
														</svg>
												</span>
										</a>
								</span>
								<a href="{{single_product.images3.url}}" target="_blank" aria-label="">
								<img src="{{single_product.webp3.url}}" class="rounded" alt="" style="height:357px; width:auto;" draggable="false" oncontextmenu="return false">
								</img>
								</a>
							</div>
							{% endif %}
							{% if single_product.webp4 and single_product.images4 %}
							<div class="carousel-item">
								<span class="absolute top-0 right-0 z-30 items-center flex -mt-24 justify-center h-60 px-4 cursor-pointer group focus:outline-none">
										<a href="{{single_product.images4.url}}" download>
												<span class="-mr-4 mt-2 inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60" title="görseli indir">
														<svg viewBox="0 0 24 24" width="24" height="20" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
																<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
																<polyline points="7 10 12 15 17 10"></polyline>
																<line x1="12" y1="15" x2="12" y2="3"></line>
														</svg>
												</span>
										</a>
								</span>
								<a href="{{single_product.images4.url}}" target="_blank" aria-label="">
								<img src="{{single_product.webp4.url}}" class="rounded" alt="" style="height:357px; width:auto;" draggable="false" oncontextmenu="return false">
								</img>
								</a>
							</div>
							{% endif %}
							{% if single_product.webp5 and single_product.images5 %}
							<div class="carousel-item">
								<span class="absolute top-0 right-0 z-30 items-center flex -mt-24 justify-center h-60 px-4 cursor-pointer group focus:outline-none">
										<a href="{{single_product.images5.url}}" download>
												<span class="-mr-4 mt-2 inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60" title="görseli indir">
														<svg viewBox="0 0 24 24" width="24" height="20" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
																<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
																<polyline points="7 10 12 15 17 10"></polyline>
																<line x1="12" y1="15" x2="12" y2="3"></line>
														</svg>
												</span>
										</a>
								</span>
								<a href="{{single_product.images5.url}}" target="_blank" aria-label="">
								<img src="{{single_product.webp5.url}}" class="rounded" alt="" style="height:357px; width:auto;" draggable="false" oncontextmenu="return false">
								</img>
								</a>
							</div>
							{% endif %}
							{% if single_product.webp6 and single_product.images6 %}
							<div class="carousel-item">
								<span class="absolute top-0 right-0 z-30 items-center flex -mt-24 justify-center h-60 px-4 cursor-pointer group focus:outline-none">
										<a href="{{single_product.images6.url}}" download>
												<span class="-mr-4 mt-2 inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60" title="görseli indir">
														<svg viewBox="0 0 24 24" width="24" height="20" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
																<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
																<polyline points="7 10 12 15 17 10"></polyline>
																<line x1="12" y1="15" x2="12" y2="3"></line>
														</svg>
												</span>
										</a>
								</span>
								<a href="{{single_product.images6.url}}" target="_blank" aria-label="">
								<img src="{{single_product.webp6.url}}" class="rounded" alt="" style="height:357px; width:auto;" draggable="false" oncontextmenu="return false">
								</img>
								</a>
							</div>
							{% endif %}

			{% if single_product.webp2 %}
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active -mt-12"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="1" class="-mt-12"></li>
								{% endif %}
								{% if single_product.webp3 %}
								<li data-target="#carouselExampleIndicators" data-slide-to="2" class="-mt-12"></li>
								{% endif %}
								{% if single_product.webp4 %}
								<li data-target="#carouselExampleIndicators" data-slide-to="3" class="-mt-12"></li>
								{% endif %}
								{% if single_product.webp5 %}
								<li data-target="#carouselExampleIndicators" data-slide-to="4" class="-mt-12"></li>
								{% endif %}
								{% if single_product.webp6 %}
								<li data-target="#carouselExampleIndicators" data-slide-to="5" class="-mt-12"></li>
								{% endif %}
							</ol>

				 </div>
				 {% if single_product.webp2 %}
					  <a class="carousel-control-prev absolute top-0 right-0 z-30 flex items-center justify-center h-60 mt-20 px-4 cursor-pointer group focus:outline-none" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="-ml-6 inline-flex items-center justify-center w-8 h-8 rounded sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60">
									<svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
									<span class="sr-only">Previous</span>
							</span>
					  </a>
					  <a class="carousel-control-next absolute top-0 right-0 z-30 flex items-center justify-center h-60 mt-20 px-4 cursor-pointer group focus:outline-none" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="-mr-6 inline-flex items-center justify-center w-8 h-8 rounded sm:w-10 sm:h-10 bg-black/50 dark:bg-gray-800/30 group-hover:bg-black/60">
									<svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
									<span class="sr-only">Next</span>
							</span>
					  </a>
						{% endif %}
					</div>

					<div class="z-30 ml-28 mt-1 flex space-x-3 bottom-5">
						<!-- thumbnail -->
						{% if single_product.webp2 %}
								<img src="{{single_product.webp.url}}" style="height:70px; width:70px;" class="inline rounded-lg -ml-28 hover:cursor-pointer hover:outline hover:outline-2 mb-2" alt=""  aria-current="false" aria-label="Slide 1" data-target="#carouselExampleIndicators" data-slide-to="0" draggable="false" oncontextmenu="return false"></img>
								<img src="{{single_product.webp2.url}}" style="height:70px; width:70px;" class="inline rounded-lg -ml-28 hover:cursor-pointer hover:outline hover:outline-2 mb-2" alt="" aria-current="false" aria-label="Slide 2" data-target="#carouselExampleIndicators" data-slide-to="1" data-carousel-slide-to="1" draggable="false" oncontextmenu="return false"></img>
								{% endif %}
										{% if single_product.webp3 %}
								<img src="{{single_product.webp3.url}}" style="height:70px; width:70px;" class="inline rounded-lg -ml-32 hover:cursor-pointer hover:outline hover:outline-2 mb-2" alt="" aria-current="false" aria-label="Slide 3" data-target="#carouselExampleIndicators" data-slide-to="2" draggable="false" oncontextmenu="return false"></img>
								{% endif %}
								{% if single_product.webp4 %}
						<img src="{{single_product.webp4.url}}" style="height:70px; width:70px;" class="inline rounded-lg -ml-32 hover:cursor-pointer hover:outline hover:outline-2 mb-2" alt="" aria-current="false" aria-label="Slide 4" data-target="#carouselExampleIndicators" data-slide-to="3" draggable="false" oncontextmenu="return false"></img>
						{% endif %}

						{% if single_product.webp5 %}
				<img src="{{single_product.webp5.url}}" style="height:70px; width:70px;" class="inline rounded-lg -ml-32 hover:cursor-pointer hover:outline hover:outline-2 mb-2" alt="" aria-current="false" aria-label="Slide 5" data-target="#carouselExampleIndicators" data-slide-to="4" draggable="false" oncontextmenu="return false"></img>
				{% endif %}

				{% if single_product.webp6 %}
		<img src="{{single_product.webp6.url}}" style="height:70px; width:70px;" class="inline rounded-lg -ml-32 hover:cursor-pointer hover:outline hover:outline-2 mb-2" alt="" aria-current="false" aria-label="Slide 5" data-target="#carouselExampleIndicators" data-slide-to="5" draggable="false" oncontextmenu="return false"></img>
		{% endif %}
				</div>

			</div>

				</center>

				<p class="mb-1 font-medium mt-2">Ürünü Paylaş:</p>
				<div class="sharethis-inline-share-buttons">
				</div>
				<br>
			</aside> <!-- gallery // -->

			<main class="col-md-7 border-left">  <!-- main -->
	<div class="row"> <!-- info -->
		<div class="btn-group dropright">
		  <button type="button" class="btn bg-green-50 rounded ml-3 hover:bg-slate-50 mt-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		     <svg viewBox="0 0 24 24" width="16" height="14" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline -mt-1 -ml-2"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg> Bilgi için tıklayın
		  </button>
			<div class="dropdown-menu text-sm w-72 border-slate-100 hover:bg-slate-50 " style="margin-left: 5px">
						• Ürün orjinal, sağlam, test edildi çalışıyor
						<br>• Stok ve fiyat güncel</br>
						• Kargo alıcıya aittir<br>
						• Ödeme IBAN ile yapılmaktadır
					</div>
		</div>
	</div> <!-- info // -->

	<article class="content-body" style="margin-left: -20px; margin-bottom: -15px;">
	<h2 class="flex text-3xl font-bold mb-2">{{ single_product.product_name }}</h2>
	<div class="mb-3">
	<b>Marka:</b>
	{% if "." not in single_product.brand %}
<div class="bg-gray-100 inline-flex -ml-0.5 items-center px-2.5 rounded mr-2 border dark:bg-gray-700">
<a href="{% url 'filter_results' %}?brand={{ single_product.brand }}" class="">{{ single_product.brand }}</a>
</div>
	{% else %}
	-
	{% endif %}
<br>
	 <b>Durum:&nbsp;</b>{{ single_product.durum }}<br>
	 <b>Stok:</b>
{% if single_product.stock == 1 %}
	 {{ single_product.stock }} Adet
	 {% else %}
	 {{ single_product.stock }} Adet
	 {% endif %}
	 <br>
	 	{% if single_product.ekran %}
	 <b>Ekran:&nbsp;</b>{{ single_product.ekran }}
	 {% endif %}
	</div>

		<div>
			<div class="bg-green-50 inline-flex items-center px-2.5 rounded mr-2 border dark:bg-gray-700">
				<span class="price h4 mt-2">{{single_product.price}}</span>
				<span style="margin-left:0.7px; margin-top:11px;"class="price h5">₺</span>
			</div>
			<a href="https://wa.me/905451973471?text=https://www.enginelektronik.xyz{{ single_product.get_absolute_url }}%0A
Fiyat: {{single_product.price}} ₺%0A{{single_product.product_name}}%0A%0A" target="_blank" aria-label="">
				<button type="button" class="w-52 px-1 py-1 btn bg-emerald-600 hover:bg-emerald-700 text-white focus:ring-3 -mt-2 ml-3" aria-label="whatsapp sipariş">
				<svg viewBox="0 0 24 24" width="14" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline fill-white -ml-0.5"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
				</path></svg> Whatsapp Sipariş<br>(0545-197-3471)</br></button></a>
		</div>
	<br>
		<hr class="mb-2">

	<b class="text-base text-md">Bu ürün hakkında:</b>
	<span class="text-base">{{ single_product.description | safe }} </span>

<br><br><br>

<br>



</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<br>
</div> <!-- container .//  -->
		{% endif %}
</section>  <!-- section1 // -->

{% if related_product %} <!-- related_product -->
<section class="pt-3 pb-3 -mt-16 bg-zinc-50">
    <div class="container mx-auto">
        <div class="row">
					<div class="btn hover:cursor-default bg-sky-100 rounded ml-3">Benzer Ürünler:</div>
            <div class="col-12 mt-2">
                            <div class="row sagsol" style="margin-top: 3px;">
															{% for i in related_product %}
																<div class="col-md-2">
																<figure class="card card-product-grid border-0 rounded-lg">
																	<div class="img-wrap">
																		 <a href="{{i.benzerlink}}" target="_blank" aria-label="">
																			 <img class="rounded" style="height:90%; width:auto;" src="{{ i.benzerresimlink }}" alt="" />
																		 </a>
																	</div> <!-- img-wrap.// -->
																	<figcaption class="info-wrap">
																		<div class="fix-height">
																			<a href="{{ i.benzerlink }}" target="_blank" class="title">{{ i.benzerad }}</a>
																		</div>
																					</figcaption>
																					<div class="col">
																		<span class="price text-lg" style="margin-right: 70px;">{{ i.benzerfiyat }}&nbsp;</span>
																		<span style="margin-left:-78px">₺</span>
															</div>
																</figure>
																</div>
																{% endfor %}
                            </div>
            </div>
        </div>
    </div>
</section>
{% endif %} <!-- related_product // -->
{% endblock %}
